<template>
  <q-page class="" style="position:relative;">

    <div v-touch-swipe="handleSwipe" v-if="currentItem !== null">
      <div style="">
        <Item :item="currentItem" :remaining="items.length"></Item>
      </div>
    </div>

    <q-page-sticky position="top" :offset="[0, 12]">
      <q-fab
        size="md"
        color="warning"
        text-color="info"
        icon="keyboard_arrow_down"
        direction="down"
      >
        <!-- <q-fab-action
          color="dark"
          @click="url(currentItem.deep_link)"
          icon="link"
        /> -->
        <router-link v-if="currentItem !== null" :to="{ name: 'links', params: { id: currentItem.id } }">
          <q-fab-action
            color="primary"
            icon="link"
          />
        </router-link>
        <router-link :to="{ name: 'bookmarks.liked'}">
          <q-fab-action
            color="primary"
            icon="bookmarks"
          />
        </router-link>
        <router-link :to="{ name: 'brands'}">
          <q-fab-action
            color="primary"
            icon="ballot"
          />
        </router-link>
        <router-link :to="{ name: 'home'}">
          <q-fab-action
            color="primary"
            icon="home"
          />
        </router-link>
        <q-fab-action
          color="primary"
          icon="gamepad"
          @click="buttons = !buttons"
        />
      </q-fab>
    </q-page-sticky>

    <template v-if="buttons">
      <q-btn
        round
        :size="$q.screen.lt.sm ? 'md' : 'lg'"
        text-color="red"
        @click="handleSwipe({ direction: 'right', duration: '', distance: { x: '' } })"
        class="fixed"
        icon="favorite"
        style="background-color: rgba(255, 255, 255, 0.75); right: calc((((100% - (42px * 5)) / 10) * 3) + 42px); top: 60px;;"
      />
      <q-btn
        round
        :size="$q.screen.lt.sm ? 'md' : 'lg'"
        text-color="white"
        @click="handleSwipe({ direction: 'left', duration: '', distance: { x: '' } })"
        class="fixed"
        icon="thumb_down_alt"
        style="background-color: rgba(255, 152, 0, 0.75); left: calc((((100% - (42px * 5)) / 10) * 3) + 42px); top: 60px;"
      />
      <q-btn
        round
        :size="$q.screen.lt.sm ? 'md' : 'lg'"
        text-color="white"
        @click="handleSwipe({ direction: 'down', duration: '', distance: { x: '' } })"
        class="fixed"
        icon="mood_bad"
        style="background-color: rgba(244, 67, 54, 0.75); left: calc((100% - 60px) / 10); top: 60px;"
      />
      <q-btn
        round
        :size="$q.screen.lt.sm ? 'md' : 'lg'"
        text-color="white"
        @click="handleSwipe({ direction: 'up', duration: '', distance: { x: '' } })"
        class="fixed"
        icon="share"
        style="background-color: rgba(33, 150, 243, 0.75); right: calc((100% - 60px) / 10); top: 60px;"
      />
    </template>

  </q-page>
</template>

<style>
</style>

<script>
import { updateItem, getItems } from '../../helpers/axios'
import Item from '../../components/Item'
import { openURL } from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    Item
  },
  data () {
    return {
      currentItem: null,
      remainingCount: null,
      buttons: true,
      dialog: {
        comment: null
      },
      filters: ['brands', 'categories']
    }
  },
  computed: {
    items: function () {
      return this.$store.state.items.items
    },
    localItemsQuantity: function () {
      return this.$store.state.settings.localItemsQuantity
    }
  },
  mounted () {
    this.getItem()
  },
  methods: {
    getItem () {
      this.$q.loading.show()
      console.log('getItem', this.items.length, this.localItemsQuantity)
      if (this.items.length > 0) {
        this.currentItem = this.items.slice(0, 1)[0]
        console.log('CI', this.currentItem)
        this.$q.loading.hide()
        if (this.items.length === 1) {
          getItems(this.localItemsQuantity)
            .then(res => {
              console.log('RES', res)
              if (res.data.items.length > 0) {
                console.log('SQL', res.data.sql)
                this.$store.dispatch('items/addItems', res.data.items)
                this.currentItem = this.items.slice(0, 1)[0]
                this.$q.loading.hide()
              } else {
                console.log('B')
                this.$q.loading.hide()
                this.$router.push({ name: 'brands' })
              }
            })
            .catch(error => {
              console.error(error)
              this.$q.loading.hide()
              this.$router.push({ name: 'brands' })
            })
        }
      } else {
        getItems(this.localItemsQuantity)
          .then(res => {
            if (res.data.items.length > 0) {
              console.log('SQL', res.data.sql)
              this.$store.dispatch('items/addItems', res.data.items)
              this.currentItem = this.items.slice(0, 1)[0]
              this.$q.loading.hide()
            } else {
              console.log('SQL', res.data.sql)
              this.$q.loading.hide()
              this.$router.push({ name: 'brands' })
            }
          })
          .catch(error => {
            console.error(error)
            this.$q.loading.hide()
            this.$router.push({ name: 'brands' })
          })
      }
    },

    handleSwipe (obj) {
      let _this = this
      console.log(obj)
      switch (obj.direction) {
        case 'left': //  left swipe, not interested
        case 'right': //  right swipe, love it
          this.$q.loading.show({
            delay: 200 // ms
          })
          this.postSwipeResult(obj.direction, _this.currentItem.id)
          break

        case 'up': //  up swipe, share
          this.$q.dialog({
            title: 'Share this',
            message: 'Add a comment:',
            position: 'bottom',
            prompt: {
              model: this.dialog.comment,
              type: 'text' // optional
            }
          })
            .then((data) => {
              // Picked "OK"
              this.postSwipeResult(obj.direction, _this.currentItem.id, { comment: data })
            })
            .catch(() => {
              // Picked "Cancel" or dismissed
            })

          break

        case 'down': //  down swipe, report quality or suitability
          this.$q.dialog({
            title: 'Report this',
            message: 'Please provide a reason.',
            // position: 'bottom',
            options: {
              type: 'radio', // or 'checkbox' / 'toggle'
              model: 'opt2', // Array when checkbox/toggle! (like '[]')
              items: [
                { label: 'It\'s offensive', value: '1' },
                { label: 'It\'s irrelevant', value: '2' },
                { label: 'It\'s broken/faulty', value: '3' },
                { label: 'It\'s a duplicate', value: '4' }
              ]
            }
          })
            .then((data) => {
              // Picked "OK"
              console.log('OK', obj.direction, _this.currentItem.id, { reason_id: data })
              this.postSwipeResult(obj.direction, _this.currentItem.id, { reason_id: data })
            })
            .catch(() => {
              // Picked "Cancel" or dismissed
            })
          break
      }
    },

    postSwipeResult (direction, itemId, data = null) {
      //  update remote state
      updateItem(direction, itemId, data)
        .then((res) => {
          console.log('postSwipeResult', res.data)
          this.$store.commit('items/removeItem', { itemId })
          //  get next item
          this.currentItem = null
          this.getItem()
        })
        .catch(error => {
          console.error('postSwipeResult', error.response)
        })
    },

    url (url) {
      openURL(url)
    }

  }
}
</script>
