<template>
  <q-page row content-around>

    <div class="header">
      <h3>wishful</h3>
      <p>social shopping</p>
    </div>

    <div class="img">
      <img src="~assets/wishful-logo.png" class="">
    </div>

    <div class="row justify-center">
      {{ username }}
    </div>

    <div class="row justify-center">
      <q-btn-group push>
        <q-btn push label="Register" @click="register" v-if="username === null" />
        <q-btn push label="Login" @click="login" v-if="username === null" />
        <q-btn push label="Brands" router :to="{ name: 'brands' }" v-if="username !== null" />
        <q-btn push label="Feed" router :to="{ name: 'feed' }" v-if="username !== null" />
      </q-btn-group>
    </div>

    <!-- register -->
    <q-dialog v-model="dialogs.register.show" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm">I have read and understood and I agree to the terms and conditions as set out in the privacy policy.</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Register" color="primary" @click="registering" v-close-popup />
        </q-card-actions>
      </q-card>
      <p v-if="loading">This may take a moment, depending on your connection speed.</p>
      <template v-if="!loading && this.$q.localStorage.has('api_token')">
        <p class="q-mb-lg">We have set you up with an account with the details below. You can change your details in the settings menu.</p>
        <p class="q-mb-lg">You will need these details if you logout or if you wish to use another device for this account.</p>
        <q-list>
          <q-item>
            <q-item-main>
              Username: <b>{{ username }}</b>
            </q-item-main>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-main>
              Password: <b>{{ password }}</b>
            </q-item-main>
          </q-item>
        </q-list>
      </template>
      <q-inner-loading :visible="loading">
        <q-spinner-gears size="50px" color="primary"></q-spinner-gears>
      </q-inner-loading>
    </q-dialog>

  </q-page>
</template>

<style lang="scss">
.img {
  text-align: center;
  img {
    width: 50%;
  }
}
.header {
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 3vh;
  h3 {
    font-size: 36px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #999;
  }
  p {
    margin-top: 6px;
  }
}
.q-btn-group {
  margin-top: 18vh;
}
@media (min-width: 640px) {
  .img, .btns {
    padding-top: 5vh;
    padding-bottom: 5vh;
    img {
      width: 18%;
    }
  }
}
@media (min-width: 992px){
  .img, .btns {
    padding-top: 5vh;
    padding-bottom: 5vh;
    img {
      width: 13%;
    }
  }
}
</style>

<script>
import { createUser } from '../helpers/axios'

export default {
  name: 'PageIndex',
  props: ['tli'],
  data () {
    return {
      dialogs: {
        register: {
          show: false,
          heading: 'User Registration'
        }
      },
      loading: false,
      password: null
    }
  },
  computed: {
    username: function () {
      return this.$store.state.user.username
    },
    items: function () {
      return this.$store.state.items.items
    },
    localItemsQuantity: function () {
      return this.$store.state.settings.localItemsQuantity
    },
    itemsRequired: function () {
      return this.totalLocalItems - this.items.length
    }
  },
  methods: {
    register () {
      this.dialogs.register.show = true
    },
    registering () {
      console.log('registerin')
      this.loading = true
      createUser()
        .then(res => {
          console.log(res.data)
          this.$q.localStorage.set('api_token', res.data.user.api_token)
          this.password = res.data.password
          this.$store.dispatch('user/setUsername', res.data.user.username)
          this.getItems()
          this.loading = false
        })
        .catch(error => {
          console.log(error.response)
          this.loading = false
        })
    },
    // getItems () {
    //   console.log('gettin', this.localItemsQuantity)
    //   getRemainingItems(this.localItemsQuantity)
    //     .then(res => {
    //       // console.log(res.data)
    //       this.$store.dispatch('items/addItems', res.data.items)
    //     })
    //     .catch(error => {
    //       console.error(error.response)
    //     })
    // },
    login () {
      console.log('loginin')
    }
  }
}
</script>
