<template>
  <q-page>

    <q-tabs position="top" color="info">
      <q-route-tab
        icon="favorite"
        to="/bookmarks/liked"
        exact
        slot="title"
      />
      <q-route-tab
        icon="thumb_down_alt"
        to="/bookmarks/disliked"
        exact
        slot="title"
      />
    </q-tabs>

    <router-link :to="{ name: 'feed' }" class="link text-primary">
      <q-icon name="photo" size="32pt" />
    </router-link>
    <router-link :to="{ name: 'brands' }" class="link text-primary">
      <q-icon name="ballot" size="32pt" />
    </router-link>

    <q-jumbotron class="q-mb-md shadow-2 jumbo" img-src="assets/baseline_favorite_red_48.png">
      <div class="q-display-3">Liked</div>
      <div class="q-subheading">
        Items you like.
      </div>
    </q-jumbotron>

    <div class="row">
      <div v-for="item in items" :key="item.id" class="col-12 col-sm-6 col-md-4 q-pa-sm">
        <q-card class="item">
          <q-card-media overlay-position="bottom">
            <img :src="'data:image/jpeg;base64,' + item.binary" />
            <q-card-title slot="overlay">
              <span slot="subtitle">
                <img :src="'https://fig.ams3.digitaloceanspaces.com/wishful/brands/' + item.brand.logo" />
                <div>{{ item.brand.name }}</div>
              </span>
            </q-card-title>
          </q-card-media>
        </q-card>
      </div>
    </div>

  </q-page>
</template>

<style lang="scss" scoped>
.jumbo {
  display: block;
  position: relative;
  padding-right: 6px;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center right!important;
}
.q-card-title {
  padding-right: 70px;
  line-height: 1.1rem!important;
  margin-bottom: 5px!important;
}
.q-card-subtitle {
  img {
    height: 70px!important;
    width: 70px!important;
    float: right;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
</style>

<script>
import { getUserItems } from '../../helpers/axios'
import Item from '../../components/Item'

export default {
  name: 'BookmarksLiked',
  components: {
    Item
  },
  data () {
    return {
      direction: 2
    }
  },
  computed: {
    items: function () {
      return this.$store.state.items.liked
    }
  },
  created () {
    this.$q.loading.show({
      message: 'getting your bookmarked items...'
    })
    this.getItems()
  },
  methods: {
    getItems () {
      console.log('getting items')
      getUserItems(this.direction)
        .then((res) => {
          console.log('getUserItems', res.data)
          this.$store.dispatch('items/setLiked', res.data.items)
          this.$q.loading.hide()
        })
        .catch(error => {
          console.error(error)
          this.$q.loading.hide()
        })
    }
  }
}
</script>
