<template>
  <q-card class="item" flat square>
    <q-img
      :src="'data:image/jpeg;base64,' + item.binary"
      class="fixed-bottom"
      basic
    >
      <div class="absolute-bottom text-subtitle2 text-center">
        {{ item.name }}
      </div>
    </q-img>
  </q-card>
</template>

<style lang="scss" scoped>
.q-card.item {
  // height: 100vw!important;
  // max-height: 100vw!important;
  .img-container {
    // padding-top: 50px;
    // height: 100vw!important;
    // max-height: 100%!important;
    height: calc(100vh - 50px);
    img {
      height: calc(100vh - 50px)!important;
      object-fit: cover;
    }
    .q-card-subtitle {
      img {
        height: 70px!important;
        width: 70px!important;
        float: right;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
@media (min-width: 376px) {
.q-card.item {
  // width: 100vw!important;
  // max-width: 100vw!important;
  .img-container {
    // padding-top: 50px;
    width: 100vw;
    max-width: 100%!important;
    height: calc(100vh - 50px);
    img {
      height: calc(100vh - 50px)!important;
      object-fit: contain;
    }
  }
}

}
@media (min-width: 801px) {
  .img-container {
    width:800px!important;
    max-width:800px;
  }
  .q-card {
    width: 800px;
    max-width: 800px!important;
  }
}
/* nexus 10 */
@media (width: 800px) {
  .img-container {
    width:100vw!important;
    max-width:800px;
  }
  .q-card {
    width: 800px!important;
    max-width: 800px!important;
  }
}
</style>

<script>
export default {
  props: ['item', 'remaining'],
  data () {
    return {
      spaces: process.env.SPACES
    }
  }
}
</script>
