<template>
  <q-page>
    <div class="row">
      <q-card flat :class="'brand col-6 col-sm-4 col-md-3 q-pa-sm' + ((brand.selected) ? ' selected' : '')" v-for="(brand, brandIndex) in brands" :key="brand.id">
        <q-img
          :src="'https://fig.ams3.digitaloceanspaces.com/wishful/brands/' + brand.logo"
          basic
          :data-id="brandIndex"
          @click="selectBrand(brandIndex)"
          :style="'opacity: ' + ((brand.selected) ? '1' : '0.4')"
        >
          <div class="absolute-bottom text-subtitle2 text-center">
            {{ brand.name }}
          </div>
        </q-img>
      </q-card>
    </div>

    <q-btn
      round
      size="lg"
      color="green"
      @click="save"
      class="fixed"
      icon="save"
      style="right: 28px; bottom: 28px"
    />

  </q-page>
</template>

<style lang="scss">
.q-card.brand {
  .q-card-title {
    font-size: 0.9rem;
    text-align: center;
    width: auto;
  }
  &.selected {
    .q-card-title {
      background-color: rgba(33, 186, 69, 0.8);
    }
  }
}
</style>

<script>
import { getBrands, setBrands } from '../../helpers/axios'

export default {
  data () {
    return {
    }
  },
  computed: {
    brands () {
      return this.$store.state.brands.items
    },
    localItemsQuantity: function () {
      return this.$store.state.settings.localItemsQuantity
    }
  },
  created () {
    if (!this.$q.localStorage.has('api_token')) {
      // go home
      this.$router.push({ name: 'home' })
    } else {
      this.getBrands()
    }
  },
  methods: {
    getBrands () {
      getBrands()
        .then(res => {
          console.log(res.data)
          this.$store.dispatch('brands/setBrands', res.data.brands)
        })
    },

    selectBrand (id) {
      console.log(id)
      this.$store.dispatch('brands/selectBrand', { id: id })
      // this.brands[id].selected = !this.brands[id].selected
    },

    save () {
      console.log('saving...')
      this.$q.loading.show()
      //  iterate through the brands and extract the selected
      let data = { brands: [], quantity: this.localItemsQuantity }
      this.brands.forEach(element => {
        if (element.selected) {
          data.brands.push(element.id)
        }
      })
      console.log('data', data)
      //  post to server
      setBrands(data)
        .then(res => {
          console.log('setBrands', res.data.items)
          //  get more items
          if (res.data.items.length > 0) {
            this.$store.commit('items/setItems', res.data.items)
          }
          this.$q.loading.hide()
          this.$router.push({ name: 'feed' })
        })
        .catch(error => {
          console.error('BRANDS', error)
          this.$q.loading.hide()
        })
    }
  }
}
</script>
