<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import Vue from 'vue'
import VueAnalytics from 'vue-analytics'
Vue.use(VueAnalytics, { id: 'UA-70241209-9' })

import { fetchUser, getItems } from './helpers/axios'

import cookieconsent from 'vue-cookieconsent-component'
Vue.component('cookie-consent', cookieconsent)

export default {
  name: 'App',
  data () {
    return {
      localItemsQuantity: 2
    }
  },
  created () {
    console.info(process.env)
    this.$q.loading.show({ message: 'Downloading some content for you' })
    this.$store.dispatch('settings/setLocalItemsQuantity', this.localItemsQuantity)
    fetchUser()
      .then(res => {
        this.$store.dispatch('user/setUsername', res.data.user.username)
      })
      .catch(error => {
        console.error('fetchUser', error)
        if (error.response.status === 401) {
          this.$q.localStorage.remove('api_token')
          this.$q.loading.hide()
        }
      })
  },
  mounted () {
    getItems(this.localItemsQuantity)
      .then(res => {
        this.$store.dispatch('items/setItems', res.data.items)
        this.$q.loading.hide()
      })
      .catch(error => {
        console.error(error)
        this.$q.loading.hide()
      })
  }
}
</script>
