<template>
  <q-layout view="lHh Lpr lFf" container>
    <q-layout-header>
      <!-- header content -->
      <q-toolbar :inverted="$q.theme === 'ios'">
        <img src="assets/wishful-logo.png" class="img-toolbar" @click="nav('Home')">
        <q-toolbar-title>
          Wishful
          <span slot="subtitle">Social Shopping</span>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style>
.img-toolbar {
  width: 33px;
}
.q-layout-container {
  max-width:100vw!important;
  height:100vh;
  margin: 0 auto;
}
/* nexus 10 */
@media (max-width: 800px) {
  .q-layout-container {
    max-width:800px!important;
    height:100vh;
  }
}
/* bigger */
@media (min-width: 801px) {
  .q-layout-container {
    max-width:800px!important;
    height:100vh;
  }
}
</style>

<script>
import { openURL } from 'quasar'
import { productName, version } from '../../package.json'

export default {
  name: 'MyLayout',
  data () {
    return {
      productName,
      version,
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  created () {

  },
  methods: {
    openURL,
    //  need to put this in a global helper file
    nav (name) {
      this.$router.push({ name })
    }
  }
}
</script>
