<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <cookie-consent class="text-center" href="https://www.fig.limited/cookie-policy/" />
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style>
.q-layout {
  display: block;
  position: relative;
}
.q-layout::after {
  content: "";
  background: url('../assets/shop.jpg');
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  opacity: 0.15;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
</style>

<script>
import { openURL } from 'quasar'
import { productName, version } from '../../package.json'

export default {
  name: 'MyLayout',
  data () {
    return {
      productName,
      version,
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>
