<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          {{ productName }}
          <div slot="subtitle">v{{ version }}</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-item-label header>Essential Links</q-item-label>
        <q-item @click.native="openURL('http://quasar-framework.org')">
          <q-item-section avatar>
            <q-icon color="primary" name="school" />
          </q-item-section>
          <q-item-main label="Docs" sublabel="quasar-framework.org" />
        </q-item>
        <q-item @click.native="openURL('https://github.com/quasarframework/')">
          <q-item-section avatar>
            <q-icon color="primary" name="code" />
          </q-item-section>
          <q-item-main label="GitHub" sublabel="github.com/quasarframework" />
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style>
.q-layout {
  display: block;
  position: relative;
}
.q-layout::after {
  content: "";
  background: url('../assets/shop.jpg');
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
</style>

<script>
import { openURL } from 'quasar'
import { productName, version } from '../../package.json'

export default {
  name: 'MyLayout',
  data () {
    return {
      productName,
      version,
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>
