<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
      <cookie-consent class="text-center" href="https://www.fig.limited/cookie-policy/" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { productName, version } from '../../package.json'

export default {
  name: 'MyLayout',
  data () {
    return {
      productName,
      version,
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>
