<template>
  <q-page class="">
    <q-tabs color="info">
      <!-- Tabs - notice slot="title" -->
      <q-tab default slot="title" name="tab-1" icon="face" />
      <q-tab disable slot="title" name="tab-2" icon="fingerprint" />
      <q-tab alert slot="title" name="tab-3" icon="account_box" />
      <q-tab slot="title" name="tab-4" icon="accessibility" />
      <q-tab slot="title" name="tab-5" icon="build" />

      <!-- Targets -->
      <q-tab-pane name="tab-1">
        <q-card>
          <q-card-title>
            Not registered yet?
            <div slot="subtitle">Grab yourself a username and you can log in from another device as well as let others see your activity.</div>
          </q-card-title>
          <q-card-main>
            <div class="row">
              <div class="col-12 col-sm-6">
                <q-field
                  icon="cloud"
                  label="Your desired Username"
                  error-label="We need an unused username"
                  :count="20"
                >
                  <q-input v-model="user.username" />
                </q-field>
              </div>
              <div class="col-12 col-sm-6">
                <q-field
                  icon="cloud"
                  label="Your Password"
                  error-label="a minimum of 6 characters"
                  :count="20"
                >
                  <q-input type="password" v-model="user.password" />
                </q-field>
              </div>
            </div>
          </q-card-main>
        </q-card>
        <q-card class="q-mt-md">
          <q-card-title>
            Already registered?
            <div slot="subtitle">Enter your existingusername and password here.</div>
          </q-card-title>
          <q-card-main>
            <div class="row">
              <div class="col-12 col-sm-6">
                <q-field
                  icon="cloud"
                  label="Your sername"
                  error-label="We need an unused username"
                  :count="20"
                >
                  <q-input v-model="user.username" />
                </q-field>
              </div>
              <div class="col-12 col-sm-6">
                <q-field
                  icon="cloud"
                  label="Your Password"
                  error-label="a minimum of 6 characters"
                  :count="20"
                >
                  <q-input type="password" v-model="user.password" />
                </q-field>
              </div>
            </div>
          </q-card-main>
        </q-card>
      </q-tab-pane>

      <q-tab-pane name="tab-2">Tab Two</q-tab-pane>
      <q-tab-pane name="tab-3">Tab Three</q-tab-pane>
      <q-tab-pane name="tab-4">Tab Four</q-tab-pane>
      <q-tab-pane name="tab-5">Tab Five</q-tab-pane>
    </q-tabs>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      user: {}
    }
  },
  created () {

  },
  methods: {

  }
}
</script>
