<template>
  <q-page class="">
    <q-tabs position="top" color="info">
      <!-- Tabs - notice slot="title" -->
      <q-route-tab
        icon="mail"
        to="/bookmarks/liked"
        exact
        slot="title"
      />
      <q-tab default :count="liked.length" slot="title" name="tab-1" icon="favorite" />
      <q-tab :count="disliked.length" slot="title" name="tab-2" icon="thumb_down_alt" />
      <q-tab :count="shared.length" slot="title" name="tab-3" icon="share" />
      <q-tab :count="reported.length" slot="title" name="tab-4" icon="mood_bad" />
      <q-tab slot="title" name="tab-5" icon="comment" />

      <router-link :to="{ name: 'feed' }" class="link text-primary">
        <q-icon name="photo" size="32pt" />
      </router-link>
      <router-link :to="{ name: 'brands' }" class="link text-primary">
        <q-icon name="ballot" size="32pt" />
      </router-link>

      <!-- Targets -->
      <q-tab-pane name="tab-1">
        <q-jumbotron class="q-mb-md shadow-2 tab-1 tabs" img-src="assets/baseline_favorite_red_48.png">
          <div class="q-display-3">Liked</div>
          <div class="q-subheading">
            Items you like.
          </div>
        </q-jumbotron>
        <div class="row">
          <q-card class="col-12 col-sm-6 col-md-4 q-my-sm shadow-2" v-for="item in liked" :key="item.id">
            <q-card-media overlay-position="bottom">
              <img :src="'data:image/jpeg;base64,' + item.binary">
              <!-- Notice the slot="overlay" -->
              <q-card-title slot="overlay">
                {{ item.brand.name }}
                <span slot="subtitle">{{ item.name }}</span>
              </q-card-title>
            </q-card-media>
          </q-card>
        </div>
      </q-tab-pane>

      <q-tab-pane name="tab-2">
        <q-jumbotron class="q-mb-md shadow-2 tab-1 tabs" img-src="assets/baseline_thumb_down_alt_orange_48.png">
          <div class="q-display-3">Not Liked</div>
          <div class="q-subheading">
            Items you don't like.
          </div>
        </q-jumbotron>
        <div class="row">
          <q-card class="col-12 col-sm-6 col-md-4 q-my-sm shadow-2" v-for="item in disliked" :key="item.id">
            <q-card-media overlay-position="bottom">
              <img :src="'data:image/jpeg;base64,' + item.binary">
              <!-- Notice the slot="overlay" -->
              <q-card-title slot="overlay">
                {{ item.brand.name }}
                <span slot="subtitle">{{ item.name }}</span>
              </q-card-title>
            </q-card-media>
          </q-card>
        </div>
      </q-tab-pane>

      <q-tab-pane name="tab-3">
        <q-jumbotron class="q-mb-md shadow-2 tab-1 tabs" img-src="assets/baseline_share_blue_48.png">
          <div class="q-display-3">Shared</div>
          <div class="q-subheading">
            Items shared.
          </div>
        </q-jumbotron>
        <div class="row">
          <q-card class="col-12 col-sm-6 col-md-4 q-my-sm shadow-2" v-for="item in shared" :key="item.id">
            <q-card-media overlay-position="bottom">
              <img :src="'data:image/jpeg;base64,' + item.binary">
              <!-- Notice the slot="overlay" -->
              <q-card-title slot="overlay">
                {{ item.brand.name }}
                <span slot="subtitle">{{ item.name }}</span>
              </q-card-title>
            </q-card-media>
            <q-card-title class="relative-position">
              Follower Rating
              <q-btn fab color="primary" icon="arrow_forward" class="absolute" style="top: 0; right: 8px; transform: translateY(-50%);" />
              <q-rating slot="subtitle" v-model="stars" :max="5" />
              <div slot="right" class="row items-center">
                <q-icon name="place" /> 250 ft
              </div>
            </q-card-title>
          </q-card>
        </div>
      </q-tab-pane>

      <q-tab-pane name="tab-4">
        <q-jumbotron class="q-mb-md shadow-2 tab-1 tabs" img-src="assets/baseline_mood_bad_red_48.png">
          <div class="q-display-3">Reported</div>
          <div class="q-subheading">
            Items with issues.
          </div>
        </q-jumbotron>
        <div class="row">
          <q-card class="col-12 col-sm-6 col-md-4 q-my-sm shadow-2" v-for="item in reported" :key="item.id">
            <q-card-media overlay-position="bottom">
              <img :src="'data:image/jpeg;base64,' + item.binary">
              <!-- Notice the slot="overlay" -->
              <q-card-title slot="overlay">
                {{ item.brand.name }}
                <span slot="subtitle">{{ item.name }}</span>
              </q-card-title>
            </q-card-media>
          </q-card>
        </div>
      </q-tab-pane>

      <q-tab-pane name="tab-5">
        <q-jumbotron class="q-mb-md shadow-2 tab-1 tabs" img-src="assets/baseline_comment_orange_48.png">
          <div class="q-display-3">Comments</div>
          <div class="q-subheading">
            Comments you and your friends have made.
          </div>
        </q-jumbotron>
        <div class="row">
          <q-card class="col-12 col-sm-6 col-md-4 q-my-sm shadow-2">
            <!-- <q-card-media overlay-position="bottom">
              <img src="#">
              <q-card-title slot="overlay">
                NAME
                <span slot="subtitle">NAME</span>
              </q-card-title>
            </q-card-media> -->
          </q-card>
        </div>
      </q-tab-pane>

    </q-tabs>

  </q-page>
</template>

<style>
.tabs {
  display: block;
  position: relative;
  padding-right: 6px;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center right!important;
}
.link {
  text-decoration: none;
}
</style>

<script>
import { getUserItems } from '../../helpers/axios'

export default {
  data () {
    return {
      items: {
        1: [],
        2: [],
        3: [],
        4: []
      },
      vars: {
        pages: {
          1: 1,
          2: 1,
          3: 1,
          4: 1
        }
      },
      stars: 4
    }
  },
  computed: {
    liked: function () {
      return this.$store.state.items.liked
    },
    disliked: function () {
      return this.$store.state.items.disliked
    },
    shared: function () {
      return this.$store.state.items.shared
    },
    reported: function () {
      return this.$store.state.items.reported
    }
  },
  created () {
    this.$q.loading.show({
      message: 'getting your bookmarked items...'
    })
    this.getItems()
  },
  methods: {
    getItems () {
      console.log('getting items')
      getUserItems()
        .then((res) => {
          console.log('DATA', res.data)
          this.$store.dispatch('items/setLiked', res.data.liked)
          this.$store.dispatch('items/setDisliked', res.data.disliked)
          this.$store.dispatch('items/setShared', res.data.shared)
          this.$store.dispatch('items/setReported', res.data.reported)
          this.$q.loading.hide()
        })
        .catch(error => {
          console.error(error)
          this.$q.loading.hide()
        })
    },
    loadMore (direction) {
      console.log('loading more', direction)
    },
    loadMore2 () {
      console.log('loading more 2')
      this.$axios({
        method: 'get',
        url: 'users/items',
        responseType: 'json',
        headers: { 'Authorization': 'Bearer ' + this.vars.bearerToken },
        params: {
          direction: 2
        }
      })
        .then((res) => {
          console.log('DATA', res.data)
          this.items = res.data.items
          this.$q.loading.hide()
        })
        .catch(error => {
          console.error(error)
          this.$q.loading.hide()
        })
    },
    loadMore4 () {
      console.log('loading more 4')
      this.$axios({
        method: 'get',
        url: 'users/items',
        responseType: 'json',
        headers: { 'Authorization': 'Bearer ' + this.vars.bearerToken },
        params: {
          direction: 4
        }
      })
        .then((res) => {
          console.log('DATA', res.data)
          this.items = res.data.items
          this.$q.loading.hide()
        })
        .catch(error => {
          console.error(error)
          this.$q.loading.hide()
        })
    }
  }
}
</script>
